# Data Processing
pandas>=2.0.0
numpy>=1.24.0

# Database
psycopg2-binary>=2.9.0

# Google Cloud Storage
google-cloud-storage>=2.10.0

# Utilities
python-dotenv>=1.0.0

# Google Generative AI
google-generativeai>=0.3.0

# Image Processing
Pillow>=10.0.0

# Jupyter Notebook
ipython>=8.0.0
uvicorn>=0.20.0
fastapi>=0.100.0
